header {
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding-top: 10%;
}

h1 {
    text-align: center;
    font-stretch: extra-expanded;
}

html {
    background-image: url("/img/windows-xp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

body {
    min-width: 522;
    min-height: 453;
    background-image: url("/img/finestra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
    display: inline-block;
    box-sizing: border-box;
    width: 98%;
}

.text {
    font-size: 18px;
}

.data {
    width: 100%;
    height: auto;
}

#dtsizetxt {
    font-size: 16px;
}

#datasize {
    width: 146px;
    font-size: 16px;
}

.speed {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#dlspeedtxt {
    font-size: 16px;
}

#internetspeed {
    font-size: 16px;
}

#calcbtn {
    border: 1px solid gray;
    border-radius: 4px;
    width: 420px;
    margin-bottom: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

#calcbtn:hover {
    border: 1px solid gray;
    border-radius: 4px;
    background-color: lightcyan;
}

#textarea {
    display: inline-block;
    border: 1px solid black;
    border-radius: 8px;
    width: 420px;
    height: 80px;
    font-size: 17px;
    resize: none;
}

.center {
    text-align: center;
    margin-bottom: 10px;
}

#XBTNDIV {
    text-align: center;
}


#XBTN {
    transform: translate(226px, 4px);
    color:transparent;
    background-color: transparent;
    border:none;
}