header{
    box-sizing: border-box;
    width: auto;
    height: auto;
    padding-top: 10%;
}

h1{
    color: yellow;
    text-align: center;
    font-stretch: extra-expanded;
}

html{
    background-image: url("/img/windows-xp.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
    
body{
    background-image: url("/img/finestra.png");
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: 100%;
}

.firstbody{
    display:inline-block;
    box-sizing: border-box;
    width: 99%;
    height: auto;
}

.text{
    color: greenyellow;
    font-size: 18px;
    font-weight: bold;
 }

.data {
    width: 100%;
    height: auto;
}

#dtsizetxt {
    font-size: 16px;
}

#datasize{
    font-size: 16px;
}

.speed {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#dlspeedtxt{
    font-size: 16px;
}

#internetspeed{
    font-size: 16px;
}

#calcbtn{
    background-color: lightblue;
    width: 420px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
}

#calcbtn:hover{
    background-color: yellow;
    color:blue;
}

#textarea{
    display: inline-block;
    border: 2px solid black;
    width: 420px;
    height: 80px;
    font-size: 17px;
    resize: none;
}

.center{
    text-align: center;
    margin-bottom: 10px;
}